h1{
    /* light mode pattern  */
    color:#242e3d;
    color:#5bb9f7;
    color:#0282f9;
    color:#b9dbfd;
    color:#ffffff;
    /* -------- */
    /* dark mode pattern  */
    
    color: #0163aa;
    color: #fbcf33;
    color: #363D40;
    color: #2B3033;
}
h2{
    color:#0282f9;
    /* Dark mode colors */
color: #8095a8; /* Adjusted from #242e3d */
color: #1da6f7; /* Adjusted from #5bb9f7 */
color: #0069c0; /* Adjusted from #0282f9 */
color: #78909c; /* Adjusted from #b9dbfd */
color: #f5f5f5; /* Adjusted from #ffffff */
/* -------- */
/* Light mode pattern */

color: #ec7a77;
color: #fbcf33;
color: #363D40;
color: #2B3033;


/* Dark mode colors */
color: #354259; /* Adjusted from #242e3d */
color: #3483b8; /* Adjusted from #5bb9f7 */
color: #0163aa; /* Adjusted from #0282f9 */
color: #89a5b5; /* Adjusted from #b9dbfd */
color: #ffffff; /* Adjusted from #ffffff */
/* -------- */
/* Light mode pattern */

color: #161c24;
color: #297bb5;
color: #01508e;
color: #8296af;


}